@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGrey: hsl(0, 0%, 55%);
  --veryDarkGrey: hsl(0, 0%, 41%);
}

body,
.button {
  font-family: "Alata", sans-serif;
}

body {
  min-width: 280px;
  font-size: 15px;
}

.no-scroll {
  overflow: hidden;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.block {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2.6rem 1.5rem 3.6rem;
  background-image: url("images/mobile/image-hero.jpg");
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 148px;
  z-index: 2;
}

.header__nav-toggle {
  position: fixed;
  top: 2.6rem;
  right: 1.5rem;
  display: flex;
  background: none;
  border: none;
  z-index: 4;
}

.header__nav-list {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 1.5rem;
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  list-style: none;
  z-index: 3;
}

.header__nav-list--hidden {
  display: none;
}

.header__nav-item {
  margin: 0.85rem 0;
}

.header__nav-link {
  text-decoration: none;
  color: var(--white);
}

.header__title {
  padding: 1.5rem;
  margin: auto 0;
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 2.6em;
}

.about {
  padding: 6rem 1.5rem 2.1rem;
  text-align: center;
}

.about__image {
  width: 100%;
}

.about__text-container {
  padding: 1.85rem 1rem;
}

.about__title {
  margin: 1rem 0;
  font-size: 2.2em;
}

.about__description {
  color: var(--darkGrey);
  line-height: 1.7;
}

.creations {
  display: grid;
  grid-template-areas:
    "title"
    "gallery"
    "button";
  row-gap: 2.1rem;
  padding: 2.1rem 1.5rem 6rem;
}

.creations__title {
  grid-area: title;
  margin-bottom: 0.9rem;
  font-size: 2.2em;
  text-align: center;
}

.creations__gallery {
  grid-area: gallery;
  display: grid;
  row-gap: 1.5rem;
}

.creations__gallery-item {
  position: relative;
}

.creations__gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.creations__gallery-title {
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
  color: var(--white);
  font-size: 1.6em;
  z-index: 2;
}

.creations__gallery-image {
  display: block;
  width: 100%;
}

.creations__button {
  grid-area: button;
  padding: 0.6rem 2.3rem;
  margin: auto;
  border: 1px solid black;
  background: none;
  font-size: 0.95em;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.footer {
  padding: 3.6rem 1.5rem 3.9rem;
  background-color: black;
  text-align: center;
}

.footer__logo {
  width: 148px;
}

.footer__nav-list {
  margin: 2.1rem 0 3rem;
  list-style: none;
}

.footer__nav-item {
  margin: 1.4rem 0;
}

.footer__nav-link {
  color: var(--white);
  text-decoration: none;
}

.footer__media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  list-style: none;
}

.footer__media-item {
  margin: 0 0.5rem;
}

.footer__copyright {
  color: var(--darkGrey);
}

@media (max-width: 350px) {
  .header__title {
    font-size: 1.8em;
  }
}
