@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGrey: hsl(0, 0%, 55%);
  --veryDarkGrey: hsl(0, 0%, 41%);
}

body,
.button {
  font-family: "Alata", sans-serif;
}

body {
  min-width: 280px;
  font-size: 15px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.block {
  display: block;
}

.header {
  height: 100vh;
  padding: 2.6rem 1.5rem 3.6rem;
  background-image: url("images/mobile/image-hero.jpg");
  background-size: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 148px;
  z-index: 2;
}

.header__nav-toggle {
  position: fixed;
  top: 2.6rem;
  right: 1.5rem;
  display: flex;
  background: none;
  border: none;
  z-index: 4;
}

.header__nav-list {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 1.5rem;
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  list-style: none;
  z-index: 3;
}

.header__nav-list--hidden {
  display: none;
}

.header__nav-item {
  margin: 0.85rem 0;
}

.header__nav-link {
  text-decoration: none;
  color: var(--white);
}

.header__nav-link:hover {
  text-decoration: underline;
}

.header__title {
  padding: 1.5rem;
  margin: auto 0;
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 2.6em;
}

.about {
  padding: 6rem 1.5rem 2.1rem;
  text-align: center;
}

.about__image {
  width: 100%;
}

.about__text-container {
  padding: 1.85rem 1rem;
}

.about__title {
  margin: 1rem 0;
  font-size: 2.2em;
}

.about__description {
  color: var(--darkGrey);
  line-height: 1.7;
}

.creations {
  display: grid;
  grid-template-areas:
    "title"
    "gallery"
    "button";
  row-gap: 2.1rem;
  padding: 2.1rem 1.5rem 6rem;
}

.creations__title {
  grid-area: title;
  margin-bottom: 0.9rem;
  font-size: 2.2em;
  text-align: center;
}

.creations__gallery {
  grid-area: gallery;
  display: grid;
  row-gap: 1.5rem;
}

.creations__gallery-item {
  position: relative;
}

.creations__gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.creations__gallery-title {
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
  color: var(--white);
  font-size: 1.6em;
  z-index: 2;
}

.creations__gallery-image {
  display: block;
  width: 100%;
}

.creations__button {
  grid-area: button;
  padding: 0.6rem 2.3rem;
  margin: auto;
  border: 1px solid black;
  background: none;
  font-size: 0.95em;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.creations__button:hover {
  background-color: black;
  color: var(--white);
}

.footer {
  padding: 3.6rem 1.5rem 3.9rem;
  background-color: black;
  text-align: center;
}

.footer__logo {
  width: 148px;
}

.footer__nav-list {
  margin: 2.1rem 0 3rem;
  list-style: none;
}

.footer__nav-item {
  margin: 1.4rem 0;
}

.footer__nav-link {
  color: var(--white);
  text-decoration: none;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  list-style: none;
}

.footer__media-item {
  margin: 0 0.5rem;
}

.footer__media-link {
  display: block;
  transition: 0.1s linear;
}

.footer__media-link:hover {
  transform: translateY(-10px);
}

.footer__copyright {
  color: var(--darkGrey);
}

@media (max-width: 350px) {
  .header__title {
    font-size: 1.8em;
  }
}

@media (min-width: 850px) {
  .no-scroll {
    overflow: auto;
  }

  .header {
    padding: 4rem 11.4% 2rem;
    background-image: url("images/desktop/image-hero.jpg");
  }

  .header__logo {
    width: auto;
  }

  .header__nav-toggle {
    display: none;
  }

  .header__nav-list {
    position: static;
    flex-direction: row;
    height: auto;
    padding: 0;
    background: none;
    font-family: "Alata", sans-serif;
    font-size: 1em;
    text-transform: none;
  }

  .header__nav-list--hidden {
    display: flex;
  }

  .header__nav-item {
    margin: 0 0.9rem;
  }

  .header__title {
    width: 655px;
    padding: 2rem;
    font-size: 4.5em;
  }

  .about {
    position: relative;
    padding: 10.2rem 11.4% 0;
    margin-bottom: 9.2rem;
    text-align: left;
  }

  .about__image {
    display: block;
    width: 99%;
    max-width: 731px;
  }

  .about__text-container {
    position: absolute;
    right: 11.4%;
    bottom: -1px;
    width: 532px;
    padding: 5.5rem 0 1px 5.5rem;
    background-color: var(--white);
  }

  .about__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 3.2em;
  }

  .creations {
    grid-template-areas:
      "title button"
      "gallery gallery";
    row-gap: 4.1rem;
    padding: 2.2rem 11.4% 11.4rem;
  }

  .creations__title {
    font-size: 3.2em;
    text-align: left;
  }

  .creations__gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .creations__gallery-title {
    left: 2.5rem;
    bottom: 2rem;
    font-size: 2.1em;
  }

  .creations__button {
    margin: 0 0 auto auto;
  }

  .footer {
    padding: 3rem 11.4% 3.6rem;
    text-align: left;
  }

  .footer__content {
    display: grid;
    grid-template-areas:
      "logo media"
      "nav copyright";
    row-gap: 1.5rem;
  }

  .footer__logo {
    grid-area: logo;
  }

  .footer__nav {
    grid-area: nav;
  }

  .footer__nav-list {
    display: flex;
    margin: 0;
  }

  .footer__nav-item {
    margin: 0 2rem 0 0;
  }

  .footer__media {
    grid-area: media;
    justify-content: flex-end;
    margin: 0;
  }

  .footer__media-item {
    margin: 0 0.5rem;
  }

  .footer__copyright {
    grid-area: copyright;
    text-align: right;
  }
}

@media (min-width: 1551px) {
  body {
    font-size: 20px;
  }

  .header,
  .about,
  .creations,
  .footer {
    padding-left: 177px;
    padding-right: 177px;
  }

  .header__title {
    width: 855px;
  }
}
